    body {
        background-color: rgb(26, 143, 33);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font: caption;
        
    }
h1{
    color: rgb(195, 255, 0);
    }
p {color: rgb(165, 210, 135);
}


